<h1>Add Customer</h1>

<% if(errors){ %>
<ul>
    <% errors.forEach(function(error){%>
        <li><%= error.msg %></li>
    <% })%>
</ul>

<% }%>

<form method="POST" action="/api/products">
    <label>Name</label><br>
    <input type="text" name="name"></input><br>
</form>

<h1><%= title %></h1>


<ul>
<% products.forEach(function(product){%>
    <li><%= product.name%></li>
    <% })%>
</ul>